<footer class="row footer-main">
  <div class="large-8 large-centered columns text-center">
    <div class="row">
      <div class="large-6 columns">
        {{partial "vcard"}}
      </div>

      <div class="large-6 columns">
        <ul class="footer-menu no-bullet">
          <li>
            {{#link-to "index"}}Now Playing{{/link-to}}
          </li>

          <li>
            {{#link-to "special-engagements"}}Special Engagements{{/link-to}}
          </li>

          <li>
            <a href="#">About</a>
          </li>

          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>