<header class="row header-main">
  <div class="large-4 medium-4 columns">
    <img src="img/ye-olde-logo.png" alt="Image of logo">
  </div>

  <div class="large-2 medium-3 columns text-center hide-for-small">
    {{partial "vcard"}}
  </div>

  <div class="large-6 medium-5 columns text-right">
    <div class="header-share">
      <img src="img/share.png" class="pointer" alt="Image of sharing buttons">
    </div>
  </div>
</header>