<section class="row">
  <div class="columns">
    <h2 class="uppercase">Available Tests</h2>

    <ul>
      {{#each tests}}
        <li>
          <a href="#/test/{{unbound id}}">{{title}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
</section>