<div class="contain-to-grid shadow">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          &nbsp;
          Ye Olde Theatre
        </h1>
      </li>

      <li class="toggle-topbar menu-icon">
        <a href="#"></a>
      </li>
    </ul>

    <section class="top-bar-section">      
      <ul class="right">
        <li>
          {{#link-to "index"}}Now Playing{{/link-to}}
        </li>

        <li class="divider"></li>

        <li>
          {{#link-to "special-engagements"}}Special Engagements{{/link-to}}
        </li>

        <li class="divider"></li>

        <li>
          <a href="#">About</a>
        </li>

        <li class="divider"></li>

        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </section>
  </nav>
</div>