<ul class="location no-bullet">
  <li>
    <u>Ye Olde Theatre</u>
  </li>
  
  <li>
    <em>1234 SE Fake St</em>
  </li>

  <li>
    <em>Portland, OR</em>
  </li>

  <li>
    <em>
      <a href="#">Get directions</a>
    </em>
  </li>
</ul>