.movie-poster {
  margin-bottom: 0.5em;
  height: 225px;

  img {
    max-height: 100%;
  }
}

.movie-showtimes {
  .movie-showtime::before {
    content: "\00a0";
  }

  .movie-showtime:first-of-type::before {
    content: "";
  }
}

.movie-title {
  height: 4em;
}

@media #{$small-only} {
  .movie-title {
    font-size: 1.2rem;
  }
}

@media #{$medium-only} {
  .movie-poster {
    height: 300px;
  }
}

@media #{$large-up} {
  .movie-poster {
    height: 350px;
  }

  .movie-title {
    height: 3em;
  }
}